* {
  margin: 0;
  padding: 0;
}
/* Переменная преобладающего цвета текста на сайте */
:root {
  --primere-text-color: #757575;
}
/* Глобальные стили сайта */
.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primere-text-color);
}
/* Общая стилизация логотипов в шапке и подвале */
.header__logo, .footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
}
/* Стили части логотипа в шапке */
.header__logo .logo__part {
  color: #000000;
}
/* Общая стилизация навигации и контактов в шапке */
.navigation__list,
.contacts__list {
  font-weight: 500;
  line-height: 1.14;
  list-style-type: none; 
}
/* Стили ссылок навигации */
.navigation .item__link {
  text-decoration: none;
  color: #212121;
}
/* Изменения цвета при наведении мышки или фокусе тастатурой на ссылки */
.navigation .item__link:hover,
.navigation .item__link:focus {
  color: #2196f3;
}

/* .navigation .item__link:focus {
  color: #2196f3;
} */
/* Стили ссылок контактов */
.mail__link {
  text-decoration: none;
  color: #757575;
}

.mail__link:hover,
.mail__link:focus {
  color: #2196f3;
}

/* .mail__link:focus {
  color: #2196f3;
} */

.tel__link {
  text-decoration: none;
  color: #757575;
}

.tel__link:hover,
.tel__link:focus {
  color: #2196f3;
}

/* .tel__link:focus {
  color: #2196f3;
} */
/* Временный задний цвет, фон для видимости логотипа */
.hero {
  background-color: #2f303a;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  color: #ffffff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
/* Скрытый заголовок секции Особенности */
.features__title {
  display: none;
}

.features__list {
  list-style-type: none;
}

.features__item .item__title {
  font-weight: 700px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__item .item__text {
  line-height: 1.7;
  color: var(--primere-text-color);
}

.gallery__list {
  list-style-type: none;
}
/* Общая стилизация заголовков секций галерея и наша команда */
.gallery__title,
.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}
/* Срытие точек списка */
.our-team__list {
  list-style-type: none;
}

.our-team__item {
  line-height: 1.18;
  text-align: center;
}

.our-team__item .item__title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
/* Временный задний цвет, фон для видимости логотипа  */
.footer {
  background-color: #2f303a;
}

/* .footer__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
} */
/* Стили части логотипа в подвале */
.footer__logo .logo__part {
  color: #ffffff;
}

.address__list {
  list-style-type: none;
}

.address__item .map__link {
  line-height: 1.7;
  text-decoration: none;
  color: #ffffff;
}

.map__link:hover,
.map__link:focus {
  color: #2196f3;
}

/* .map__link:focus {
  color: #2196f3;
} */

.address__item .mail__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__item .mail__link:hover,
.address__item .mail__link:focus {
  color: #2196f3;
}

/* .address__item .mail__link:focus {
  color: #2196f3;
} */

.address__item .tel__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__item .tel__link:hover,
.address__item .tel__link:focus {
  color: #2196f3;
}

/* .address__item .tel__link:focus {
  color: #2196f3;
} */
/* Скрытый заголовок портфолио */
.portfolio__title {
  display: none;
}

.filter__list {
  list-style-type: none;
}
/* Общие стили кнопок фильтра портфолио */
.filter__item .item__button {
  width: 112px;
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  cursor: pointer;
}
/* Стили псевдо-классов состояния кнопок фильтра портфолио */
.filter__item .item__button:hover,
.filter__item .item__button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

/* .filter__item .item__button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
} */

.portfolio__cards .cards__list {
  list-style-type: none;
}
/* Общие стили карточек портфолио */
.portfolio__cards .cards__item .item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.portfolio__cards .cards__item .item__text {
  font-size: 16px;
  line-height: 1.87;
}
